/* Estilos generales para el fondo */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue; /* Fondo azul */
    z-index: -1; /* Asegura que el fondo esté detrás de los otros elementos */
  }
  
  /* Contenedor del logo estático */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
  }
  
  /* Logo estático */
  #splash-container img {
    max-width: 100%;
    height: auto; /* Mantiene la relación de aspecto */
  }
  
  /* Contenedor del logo dinámico */
  #dynamic-logo-container {
    display: none; /* Oculto inicialmente */
  }
  
  /* Logo dinámico */
  #dynamic-logo {
    max-width: 100%;
    height: auto; /* Mantiene la relación de aspecto */
  }
  