.alarmBtn {
  width: 100vw; /* Ancho completo de la ventana */
  height: 100vh; /* Alto completo de la ventana */
  
}

.title{
  color: rgb(0, 0, 0); /* Cambia el color según tu preferencia */
  font-weight: bold; /* Hace el texto en negrita */
  font-size: 24px; /* Ajusta el tamaño de la fuente */
  /* Puedes añadir más estilos aquí */
}

.logo-container {
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: flex-end; /* Alinea la imagen al fondo del contenedor */
}