<ion-header [translucent]="true" [ngStyle]="{'background-color': isDetectorActive ? 'red' : 'green'}">
  <ion-toolbar>
    <ion-title [ngStyle]="{'background-color': isDetectorActive ? 'red' : 'green'}" class="title"> Alarma anti robo </ion-title>
    <ion-button
      color="primary"
      fill="clear"
      slot="end"
      (click)="handleLogout()" [ngStyle]="{'background-color': isDetectorActive ? 'red' : 'green'}"
    >
      <ion-icon aria-hidden="true" color="primary" name="arrow-redo-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<div class="text-container"  [ngStyle]="{'background-color': isDetectorActive ? 'red' : 'green'}">
  <strong>
    {{ isDetectorActive ? '¡La alarma está activada! 🎉' : '¿Listo para activar tu alarma anti robos? ¡Tu seguridad es nuestra prioridad!' }}  
  </strong>
</div>
<button class="alarmBtn"  [ngStyle]="{'background-color': isDetectorActive ? 'red' : 'green'}"  (click)="toggleDetector()"> 
  <div class="logo-container">
    <img src="assets/images/alarmaMovil.png" alt="logo" class="logo" />
  </div>
</button>

