<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botones de idiomas -->
    <div class="d-flex justify-content-center idioma-container" style="margin-bottom: 10px;">
      <ion-fab-button color="success" [class.selected]="idiomaSeleccionado === 'earth'">
        <ion-icon name="earth"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarIdioma('es-ES')" [class.selected]="idiomaSeleccionado === 'es-ES'">
        <img alt="ES" src="../../assets/images/espana.png" />
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarIdioma('en-GB')" [class.selected]="idiomaSeleccionado === 'en-GB'">
        <img alt="EN" src="../../assets/images/reino-unido.png" />
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarIdioma('pt-BR')" [class.selected]="idiomaSeleccionado === 'pt-BR'">
        <img alt="PT" src="../../assets/images/portugal.png" />
      </ion-fab-button>
    </div>

    <!-- Botones de categorías -->
    <div class="d-flex justify-content-center categoria-container" style="margin-top: 10px;">
      <ion-fab-button color="success" [class.selected]="categoriaSeleccionada === 'sparkles'">
        <ion-icon name="sparkles"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarCategoria('colores')" [class.selected]="categoriaSeleccionada === 'colores'">
        <img alt="Colores" src="../../assets/images/colores.png" />
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarCategoria('numeros')" [class.selected]="categoriaSeleccionada === 'numeros'">
        <img alt="Números" src="../../assets/images/numeros.png" />
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="cambiarCategoria('animales')" [class.selected]="categoriaSeleccionada === 'animales'">
        <img alt="Animales" src="../../assets/images/animales.png" />
      </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <!-- Contenido dependiendo de la categoría seleccionada -->
  <ng-container *ngIf="categoria == 'animales'">
    <app-animales></app-animales>
  </ng-container>
  <ng-container *ngIf="categoria == 'numeros'">
    <app-numeros></app-numeros>
  </ng-container>
  <ng-container *ngIf="categoria == 'colores'">
    <app-colores></app-colores>
  </ng-container>
</ion-content>
