ion-fab-button {
  --background: var(--ion-color-dark);
  --color: white;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &.selected {
    --background: var(--ion-color-success);
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.8); /* Sombra brillante */
    transform: scale(1.1); /* Agrandar ligeramente */
  }

  img {
    height: 40px;
    width: 40px;
  }

  ion-icon {
    font-size: 24px;
  }
}

.idioma-container, .categoria-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}
