/* Animación de gradiente de fondo de pantalla */
@keyframes backgroundColorChange {
  0% {
    background-color: #ff7eb9;
  }
  25% {
    background-color: #ff65a3;
  }
  50% {
    background-color: #7afcff;
  }
  75% {
    background-color: #feff9c;
  }
  100% {
    background-color: #fff740;
  }
}

/* Animación de difuminado y movimiento */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Desplazamiento hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Vuelve a la posición original */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px); /* Desplazamiento hacia abajo */
  }
}

/* Mejorando la animación de fade */
@keyframes fade {
  0%, 20%, 40%, 60%, 80%, 100% {
    opacity: 1;
  }
  10%, 30%, 50%, 70%, 90% {
    opacity: 0.5;
  }
}

/* Mejorando la animación de roll-in-blurred-left */
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
}

.container {
  animation: fade 2s infinite;

  img {
    height: 250px;
    margin-top: 20%;
    filter: drop-shadow(0px 0px 2px white);
  }
}

/* Estilo para el nombre */
.name {
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Asegura que el elemento ocupe el espacio disponible */
  font-size: 4rem;
  color: rgb(0, 0, 0);
  animation: fadeIn 1s forwards; /* Animación de entrada */
  opacity: 0; /* Comienza invisible */
}

/* Estilo para la división */
.division {
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0 auto; /* Asegura que el elemento ocupe el espacio disponible */
  font-size: 4rem;
  color: rgb(0, 0, 0);
  animation: fadeIn 1s forwards; /* Animación de entrada */
  animation-delay: 0.5s; /* Retraso para que aparezca después del nombre */
  opacity: 0; /* Comienza invisible */
}

/* Logo dinámico */
.dynamic-logo {
  opacity: 0; /* Comienza invisible */
  transform: scale(0.8); /* Escala hacia abajo para el efecto de entrada */
  animation: fadeIn 1s forwards; /* Animación de entrada */
  transition: opacity 1s ease; /* Suaviza la entrada */
}

/* Para aplicar el efecto de salida */
.name.out, .division.out, .dynamic-logo.out {
  animation: fadeOut 1s forwards; /* Animación de salida */
}

/* Fondo con gradiente dinámico */
ion-content {
  --background: var(--custom-blue-dark);
  background-size: 400% 400%;
  animation: backgroundColorChange 10s infinite;
}

/* Mejorando animaciones de salida */
.animation {
  animation: fadeOut 1s forwards; /* Animación de salida */
}
