<div class="background"></div>

<!-- Contenedor del logo estático -->
<div class="container" id="splash-container">
  <img src="../../../assets/images/leyendasSP.png" alt="Static Logo" id="static-logo">
</div>

<!-- Contenedor del logo dinámico -->
<div class="container" id="dynamic-logo-container" style="display: none; justify-content: center; align-items: center; height: 100vh; position: relative;">
  <h1 id="name">{{ name }}</h1>
  <img src="../../../assets/images/leyendas-heroes.png" alt="Dynamic Logo" id="dynamic-logo">
  <h2 id="division">{{ division }}</h2>
</div>
