.timerNumber {
  font-size: 50px;
  background-color: rgb(61, 61, 61);
  color:white;
  text-align: center;
  margin-top:5px
  }
  
  .timerNumber:hover {
    background-color: #0f0f0f; /* Un negro un poco más claro al hacer hover */
    transform: scale(1.05); /* Efecto de zoom ligero al hacer hover */
  }
  
  .separator {
    font-size: 50px;
    color: #00c4ff; /* Azul eléctrico para el separador */
    padding: 5px;
    margin: 0 10px; /* Espaciado horizontal para los separadores */
  }
  