<ion-content [fullscreen]="true">
  <!-- Primera vista: Fondo estático -->
  <div class="container" id="splash-container" *ngIf="!showAnimation">
    <img src="../../../assets/imagenes/bg.png" alt="Splash Logo" class="splash-bg">
  </div>

  <!-- Segunda vista: Logo animado y nombres -->
  <div class="container ion-text-center animated-background" *ngIf="showAnimation">
    <h2 class="name animation text-light">{{ names[0] }}</h2> <!-- Nombre encima del logo -->
    <img src="../../../assets/imagenes/ConversandoAula.png" alt="Logo" class="logo-animation">
    <h4 class="division text-light">{{ listNames[0] }}</h4> <!-- División debajo del logo -->
  </div>
</ion-content>


