<ion-content>
  <div class="bg">
    <form [formGroup]="loginForm" style="width: 100%; padding: 20px;">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <p class="display-6">Iniciar sesión</p>
            </div>
            <div padding>
              <ion-item>
                <ion-input type="mail" label="Correo" formControlName="email"></ion-input>
                <ng-container *ngIf="mail?.hasError('email')">
                  <small class="text-danger">Formato inválido</small>
                </ng-container>
              </ion-item>
              <ion-item>
                <ion-input type="password" label="Clave" formControlName="password"></ion-input>
                <ng-container *ngIf="password?.hasError('minlength')">
                  <small class="text-danger">La clave debe tener mínimo {{password?.getError('minlength').requiredLength}} caracteres</small>
                </ng-container>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" class="mt-2" (click)="this.login(loginForm)" expand="block"
                [disabled]="loginForm.invalid" shape="round">Ingresar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <hr>
    <h4 class="text-secondary text-center">¿No estás registrado?</h4>
    <ion-button expand="block" color="warning" (click)="goToRegistro()" shape="round">Registro</ion-button>
    
    <div style="display: flex; justify-content: center;">
      <img src="../../../assets/images/alarmaMovil.png" class="img-alarm">
    </div>

    <div class="d-flex justify-content-center mt-4">
      <ion-button (click)="completarCampos(1)" shape="round">use1</ion-button>
      <ion-button (click)="completarCampos(2)" shape="round">use2</ion-button>
      <ion-button (click)="completarCampos(3)" shape="round">use3</ion-button>
    </div>
  </div>
</ion-content>
