.bg {
  background-image: url('../../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}

/* Centrado del logo */
img {
  display: block;
  margin: 0 auto;
}

/* Botones con ancho completo */
.buttons-container ion-button {
  width: 100%;
  margin-bottom: 2px; /* Se redujo el margen inferior entre los botones */
}

.bottonIngresar {
  width: 100%;
}

/* Ajustes para pantallas pequeñas (como un teléfono móvil) */
@media (max-width: 768px) {
  ion-grid {
    padding: 0 15px;
  }

  .buttons-container ion-button {
    font-size: 16px;
  }
}

/* Mejora visual del botón de ingresar */
ion-button {
  font-weight: bold;
  color: black;
}

/* Mejora de visibilidad para letras azules */
h1,
h4 {
  color: #0044cc; /* Color azul más oscuro */
}
