<ion-content [fullscreen]="true">
 

  <div class="button-container center w-100 h-100">
    <ion-button expand="full" class="quarter-button" (click)="salaA()" color="success">
      <div class="d-flex flex-column align-items-center">
        <!-- <img src="../../../assets/images/cosas-lindas.png"> -->
        <div class="text-container2 text-wrap">Sala PPS-4A</div>
      </div>
    </ion-button>
    <ion-button expand="full" class="quarter-button" (click)="salaB()" color="warning">
      <div class="d-flex flex-column align-items-center">
        <!-- <img src="../../../assets/images/cosas-feas.png"> -->
        <div class="text-container2 text-wrap">Sala PPS-4B</div>
      </div>
    </ion-button>
  </div>

  <!-- <div class="botones-seleccion">


    <button (click)="irACosasLindas()">
      <img src="ruta/imagen-cosas-lindas.jpg" alt="Cosas Lindas">s
    </button>
    <button (click)="irACosasFeas()">
      <img src="ruta/imagen-cosas-feas.jpg" alt="Cosas Feas">
    </button>
  </div> -->
</ion-content>

