.bg {
    background-color: #c0a22c; /* Color de fondo amarillo */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Cambia a columna para ocupar toda la pantalla */
}

.row {
    width: 100%; /* Asegura que la fila ocupe el 100% del ancho */
    display: flex; /* Utiliza flexbox para distribuir los botones */
    flex-wrap: wrap; /* Permite que los botones se distribuyan en múltiples líneas */
    justify-content: center; /* Centra los botones horizontalmente */
}

.btnAnimales {
    border-radius: 15px; /* Bordes redondeados */
    padding: 30px; /* Aumenta el espaciado interno */
    margin: 15px; /* Aumenta el espaciado entre botones */
    transition: transform 0.2s; /* Efecto de transición al hacer hover */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Fija un ancho para los botones */
    height: 150px; /* Fija una altura para los botones */
}

.btnAnimales:hover {
    transform: scale(1.1); /* Escala al pasar el mouse */
}

.btnAnimales.marron {
    background-color: #8B4513; /* Marrón */
}

.btnAnimales.rojo {
    background-color: #ef2400; /* Rojo tomate */
}

.btnAnimales.verde {
    background-color: #32CD32; /* Verde lima */
}

.btnAnimales.amarillo {
    background-color: #FFD700; /* Amarillo dorado */
}

.btnAnimales.celeste {
    background-color: #87CEEB; /* Celeste */
}

.btnAnimales.blanco {
    background-color: #FFFFFF; /* Blanco */
}

.btnAnimales.naranja {
    background-color: #ff6a00; /* Naranja */
}

.btnAnimales.rosa {
    background-color: #FF69B4; /* Rosa intenso */
}

/* Estilos específicos para pantalla en horizontal */

@media (max-width: 768px) {
    .row {
        flex-direction: row; /* Mantiene la fila horizontalmente */
        justify-content: space-around; /* Distribuye el espacio entre los botones */
    }

    .btnAnimales {
        width: 20%; /* Ajusta el ancho de los botones para ocupar menos espacio */
        height: 80px; /* Altura fija para los botones en móviles */
    }
}